body {
  background: #333;
  padding: 20px;
  display: flex;
  justify-content: center;

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.container {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 1.5em;
}
/*** CIRCLE & ANIMATION */

.track {
  stroke: #ccc;
}

.marker {
  motion-path: path("M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0");
  offset-path: path("M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0");
}

.marker-rotate {
  animation: move 2.5s linear infinite;
}

svg {
  margin-bottom: 5em;
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

/*** CONTROLS ***/
.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.control button {
  height: 2em;
  width: 5em;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.count {
  font-size: 4em;
}
